.issue {
    height: 200px;
    width: 200px;
    background-color: aqua;
    cursor: pointer;
}

.issue-selected {
    height: 200px;
    width: 200px;
    background-color: burlywood;
    cursor: pointer;
}