.issue {
    flex-direction: row;
    cursor: move;
    margin-left: 4px;
    margin-right: 4px;
    border-radius: 5px;
    width: 150px;
    color : white;
}

.issue_m {
  flex-direction: row;
  cursor: move;
  margin-left: 4px;
  margin-right: 4px;
  border-radius: 9px;
  width: 200px;
  background-color: white;
  border: solid 4px;
}

.alert {
  font-size: 15px;
  text-align: center;
  height: 36px;
  line-height:36px;
  padding:0px 13px;
}

.issue:last-child {

  }


.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }

  .cdk-drag-placeholder {
    opacity: 0;
  }

  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .issue:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

.issue-selected {
    
}
