.name {
    width: 10%;
}

.cont {
    height: 90px;
}

.moscow_container {
    height: 50%;
    max-height: 50%;
}

.details_container {
    height: 49%;
    max-height: 49%;
}

.details-container-splited {
    height: 49%;
    max-height: 49%;
    display: flex;
}

.title_container {
    display: flex;
    height: 13%;
    justify-content: space-between;
    align-items: center;
}

h2 {
    color: #909497;
}

.moscow_fields_container {
    height: 87%;
}

.splited-container {
    display: flex;
    height: 87%;
    width: 100%;
}

.part-A {
    width: 50%;
}

.part-B {
    width: 50%;
}

.reverse {
    flex-direction: row-reverse;
}
