
.name {
  color: aquamarine;
  width: 10%;
}

.cont {
  height: 90px;
}

.line {
  color: darkcyan;
  margin-left: 10%;
  margin-top: 0;
  margin-bottom: 0;
}
.full-line {
  color: darkcyan;
  height: 3px;
  margin-top: 0;
  margin-bottom: 0;
}
