
.name {
  width: 10%;
}

.cont {
  height: 90px;
}


.global_container {

}

.moscow_container {
  height: 50%;
  max-height: 50%;
}
.details_container {
  display: inline-flex;
  height: 49%;
  max-height: 49%;
  width:100%
}
.details_box{
  width:50%;
}

.title_container {
  height: 7%;
}
h2 {
  color: #909497;
}
.moscow_fields_container {
  height: 93%;
}
