.name {
    width: 10%;
}

.cont {
    height: 90px;
}

.moscow_container {
    height: 70%;
    max-height: 70%;
}

.details_container {
    height: 29%;
    max-height: 29%;
}

.title_container {
    display: flex;
    height: 7%;
    justify-content: space-between;
}

h2 {
    color: #909497;
}

.moscow_fields_container {
    height: 93%;
}