.name {
    width: 10%;
}

.cont {
    height: 90px;
}

.moscow_container {
    height: 70%;
    max-height: 70%;
}

.details_container {
    height: 29%;
    max-height: 29%;
}

.details-container-splited {
    height: 29%;
    max-height: 29%;
    display: flex;
}

.title_container {
    display: flex;
    height: 7%;
    justify-content: space-between;
}

h2 {
    color: #909497;
}

.moscow_fields_container {
    height: 93%;
}

.splited-container {
    display: flex;
    height: 93%;
    width: 100%;
}

.part-A {
    width: 50%;
}

.part-B {
    width: 50%;
}

.reverse {
    flex-direction: row-reverse;
}

.smart-window #article {
  overflow: auto;
}

@media screen and (max-width: 700px) {
  .smart-window {
    width: 90% !important;
    left: 5% !important;
    top: 5px !important;
  }
}

app-root {
  display: block;
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0 auto;
}
