
.name {
  color: aquamarine;
  width: 10%;
}

.cont {
  height: 90px;
}


.global_container {

}

.moscow_container {
  height: 70%;
  max-height: 70%;
}
.details_container {
  height: 30%;
  max-height: 30%;
  background: red;
}

.title_container {
  height: 7%;
}
h2 {
  color: #909497;
}
.moscow_fields_container {
  height: 93%;
  background: antiquewhite;
}


.field_container {
  background: aquamarine;
}
