<div cdkDropListGroup class="container-fluid" style="max-height: 100%">
  <div class="row">
    <h1 style="color: #909497; margin-left: 5%; margin-top: 20px; text-align: center"> MoSCoW BY SCRUMTABLE</h1>
  </div>
  <div class="row">
    <app-issue-list *ngFor="let name of listName" [name]="name" [content]="this.labels[name]" (drop)="onDrop($event)"></app-issue-list>
  </div>
  <div class="row">
    <app-details [detailsList]="detailsList" (drop)="onDetailsDrop($event)"></app-details>
  </div>
</div>
