.details {
    margin-top: 5px;
    border: solid 3px #bdc3c7;
    height: 100%;
    border-radius: 10px;
}

.basic-container {
    padding: 3px;
}

app-details-issue {
    margin: 7px;
}

.reverse {
    flex-direction: row-reverse;
}
