.details {
  margin-top: 5px;
  border: solid 3px  #6658d3;
  height: 100%;
  border-radius: 10px;
  overflow-x: auto;
  background-color: #e0deec;
  justify-content: space-evenly;
}
.basic-container {
  padding: 3px;

}
app-details-issue {
  margin: 7px;
  direction:ltr;
  height:95%;
}

