<div class="details"
     cdkDropList
     id="Details"
     [cdkDropListData]="detailsList"
     cdkDropListOrientation="horizontal"
     (cdkDropListDropped)="onDrop($event)">
  <div class="mat-app-background basic-container">
    <mat-grid-list cols="2" rowHeight="100px">
      <mat-grid-tile
        *ngFor="let tile of tiles"
        [colspan]="tile.cols"
        [rowspan]="tile.rows"
        [style.background]="tile.color">
        <app-issue [issue]="tile.issue" [color]="'#616A6B'"></app-issue>
        {{tile.text}}
      </mat-grid-tile>
    </mat-grid-list>
  </div>

</div>

