<div *ngIf="issue" class="issue" [style.border-color]="color" cdkDrag (cdkDragStarted)="selected.emit(issue)" appDraggable>
  <div class="card"  *cdkDragPreview style="width: 25%;height : 25%;">
    <div class="card-body">
    <strong class="issue_container">

    <h4><b>Issue #{{issue.number}} :</b></h4>
    <p>{{issue.name}}</p>
    </strong>
  </div>
  </div>
  <div class="number_container">
   <span [style.color]="color"><b>#{{issue.number}}</b></span>
  </div>
  <div class="img_container">
    <div>
      <img class="assignee_avatar" *ngIf="!issue.assignee" [style.color]="color" src="assets/images/icon_no_matcher.png">
      <img class="assignee_avatar" *ngIf="issue.assignee" src="{{issue.assignee.avatar_url}}">
    </div>
  </div>
</div>

