.issue {
  cursor: move;
  margin-left: 10px;
  max-height: 40px;
  border: 5px solid;
  border-radius: 15px;
  margin-bottom: 7px;
}

span {
  font-size: 20px;
}

.card {
  border-color:#6658d3;
  border-radius: 5px;
  border: 3px solid;

}
.card_body {
    box-shadow: 0 4px 8px 0 #6658d3;
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
}
.number_container {
  display: inline-block;
  margin-left: 5px;
  touch-action: auto;

}

.img_container {
  display: inline-block;
  margin-left: 5px;
}

.issue:active {
  cursor: grabbing;
}

.issue_desc {
  position: relative;
  margin-bottom: 22px;
  width: 130px;
  margin-left: 7px;
  display: inline-block;
  max-height: 100px;
  overflow: hidden;
}

.issue_bar {
  width: 4px;
  height: 100px;
  display: inline-block;
  box-sizing: border-box;
  margin: -1px;
}

.assignee_avatar {
  width: 30px;
  height: 30px;
  border-radius: 15px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px #6658d3,
    0 8px 10px 1px #423f57, 0 3px 14px 2px #423f57;
    border-color:#6658d3;

}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.issue:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
