.mat_icon2 {
  color: #85929E;
  font-size: 30px;
}
.header_p {
  height: 50px;
}
.issue_label {
  margin: 4px;
  display: inline-block;
}

.div_container {
  margin-left: 5px;
  margin-bottom: 15px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.issue:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.mat_icon {
  margin-left: 5px;
  color: #85929E;
  font-size: 30px;
}

.assignee_avatar {
  width: 30px;
  height: 30px;
  border-radius: 15px;
}

.assignees_avatar {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  margin-left: 7px;
}

