.mat_icon2 {
  color: #85929E;
  font-size: 20px;
}
.header_p {
  height: 30px;
  max-height: 30px;
}
.issue_label {
  margin: 4px;
  display: inline-block;
}
.detail_container {
  max-height: 100%;
  max-width: 15rem;
  cursor: move
}

.div_container {
  margin-left: 5px;
  margin-bottom: 15px;
}

.card-title {
  color: black;
}

.issue {
  cursor:move;
  touch-action: none;
  user-select: none;
  transform: translate(0px,0px);
}

.assignee_avatar {
  max-width: 30px;
  height: 30px;
  border-radius: 15px;
}

.assignees_avatar {
  max-width: 30px;
  height: 30px;
  border-radius: 15px;
  margin-left: 7px;
}

.card-body{
  overflow-y: scroll;
}
