.list {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    background: white;
    border-radius: 4px;
    flex-wrap: wrap;
}

.name-div {
    color: aquamarine;
    width: 10%;
    display: flex;
}

.name-span {
    margin-left: 10px;
}

.name-span-reverse {
    margin-right: 10px;
}

.line {
    color: #4734d3;
    margin-left: 10%;
    margin-top: 0;
    height: 2px;
    margin-bottom: 0;
}

.line-reverse {
    color: #4734d3;
    margin-right: 10%;
    margin-top: 0;
    height: 2px;
    margin-bottom: 0;
}

.my-pagination /deep/ .ngx-pagination .current,
.btn-info {
    background: darkcyan !important;
    border: transparent !important;
    border-radius: 20px !important;
}

.my-pagination /deep/ .ngx-pagination .current:hover {
    background: #85929e !important;
    border-radius: 20px !important;
    border: transparent !important;
}

.full-line {
    color: #4734d3;
    height: 3px;
    margin-top: 0;
    margin-bottom: 0;
}

.list.cdk-drop-list-dragging {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.content {
    display: flex;
    gap: 10px;
    width: 100%;
}

.reverse {
    flex-direction: row-reverse;
}