.list {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    background: white;
    border-radius: 4px;
    overflow-x: scroll;
    height:8vh;
}
.list::-webkit-scrollbar{
  background-color:lightsteelblue;
  height:1vh;
}
.list::-webkit-scrollbar-thumb{
  background-color:#85929E;
  height:0.5vh;
  bottom:20%;
  position:relative;
}
#Available{
  position:relative;
  z-index: 100;
}
#Must{
  position:relative;
  z-index: 99;
}
#Should{
  position:relative;
  z-index: 98;
}
#Could{
  position:relative;
  z-index: 97;
}

.p-2 name-div {
  overflow-x: auto;
}

.vertical {
  border-left: 5px solid black;
  height: 200px;
}

.name-div {
  color: aquamarine;
  width: 10%;
}

.name-span {
  margin-left: 20px;
}

.line {
  color: #4734D3;
  margin-left: 10%;
  margin-top: 0;
  height: 1px;
  margin-bottom: 0;
}

.full-line {
  color: #4734D3;
  height: 5px;
  margin-top: 0;
  margin-bottom: 0;
}



.list.cdk-drop-list-dragging {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.content {
    display: flex;
    gap: 10px;
  width: 100%;
}
