.list {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    background: white;
    border-radius: 4px;
    overflow: hidden;
}


.name-div {
  color: aquamarine;
  width: 10%;
}

.name-span {
  margin-left: 10px;
}

.line {
  color: darkcyan;
  margin-left: 10%;
  margin-top: 0;
  height: 2px;
  margin-bottom: 0;
}

.my-pagination /deep/ .ngx-pagination .current,
.btn-info {
  background: darkcyan !important;
  border: transparent !important;
  border-radius: 20px !important;
}

.my-pagination /deep/ .ngx-pagination .current:hover {
  background: #85929E !important;
  border-radius: 20px !important;
  border: transparent !important;
}

.full-line {
  color: darkcyan;
  height: 3px;
  margin-top: 0;
  margin-bottom: 0;
}

.list.cdk-drop-list-dragging {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.content {
    display: flex;
    gap: 10px;
  width: 100%;
}
