<div style="height: 20%;" *ngIf="this.content">
    <hr *ngIf="name!=='Available'" [ngClass]="reversed ? 'line-reverse' : 'line'">
    <hr *ngIf="name==='Available'" class="full-line">
    <div *ngIf="name!=='Available'" class="d-flex" [ngClass]="reversed ? 'reverse' : ''">
        <div class="p-2 name-div" [style.color]="this.content.color" [ngClass]="reversed ? 'reverse' : ''"><span [ngClass]="reversed ? 'name-span-reverse' : 'name-span'">{{this.name}}</span></div>
        <div class="p-2 flex-grow-1 list" [ngClass]="reversed ? 'reverse' : ''" [id]="id" appDroppable [options]="{ accept: '.issue' }" (dropping)="onMultiDrop($event)">
            <app-mini-issue *ngFor="let issue of this.content.issues" [parent]="id" [issue]="issue" [color]="content.color" (selected)="issueSelected.emit($event)"></app-mini-issue>
        </div>
    </div>
    <div *ngIf="name==='Available'" class="d-flex" [ngClass]="reversed ? 'reverse' : ''">
        <div class="p-2 flex-grow-1 list" [ngClass]="reversed ? 'reverse' : ''" [id]="id" appDroppable [options]="{ accept: '.issue' }" (dropping)="onMultiDrop($event)">
            <app-mini-issue *ngFor="let issue of this.content.issues" [parent]="id" [issue]="issue" [color]="content.color" (selected)="issueSelected.emit($event)"></app-mini-issue>
        </div>
    </div>
</div>
