.list {
    width: 88%;
    max-width: 88%;
    display: flex;
    flex-direction: row;
    background: white;
    border-radius: 4px;
    height:8vh;
}
#Available{
  position:relative;
  z-index: 100;
}
#Must{
  position:relative;
  z-index: 99;
}
#Should{
  position:relative;
  z-index: 98;
}
#Could{
  position:relative;
  z-index: 97;
}

app-mini-issue{
  margin:auto;
}
.vertical {
  border-left: 5px solid black;
  height: 200px;
}

.name-div {
  color: aquamarine;
  width: 6%;
}

.name-span {
  margin-left: 20px;
}

.line {
  color: #4734D3;
  margin-left: 10%;
  margin-top: 0;
  height: 1px;
  margin-bottom: 0;
  width: 83%;
  position : relative;
  right:2%;
}

.full-line {
  color: #4734D3;
  height: 5px;
  margin-top: 0;
  margin-bottom: 0;
}



.list.cdk-drop-list-dragging {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.content {
    display: flex;
    gap: 10px;
  width: 100%;
}
