.list {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    background: white;
    border-radius: 4px;
    flex-wrap: wrap;
    overflow-x: scroll;
    overflow-y: scroll;
}

.vl {
  border-left: 6px solid green;
  height: 500px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
}

.p-2 name-div {
  overflow-x: auto;
}

.vertical {
  border-left: 5px solid black;
  height: 200px;
}

.name-div {
  color: aquamarine;
  width: 10%;
}

.name-span {
  margin-left: 20px;
}

.line {
  color: #4734D3;
  margin-left: 10%;
  margin-top: 0;
  height: 1px;
  margin-bottom: 0;
}

.full-line {
  color: #4734D3;
  height: 5px;
  margin-top: 0;
  margin-bottom: 0;
}


.my-pagination /deep/ .ngx-pagination .current,
.btn-info {
  background: darkcyan !important;
  border: transparent !important;
  border-radius: 20px !important;
}

.my-pagination /deep/ .ngx-pagination .current:hover {
  background: #85929E !important;
  border-radius: 20px !important;
  border: transparent !important;
}

.list.cdk-drop-list-dragging {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.content {
    display: flex;
    gap: 10px;
  width: 100%;
}
